body {
    background-color: rgb(227, 243, 235);
}

th>a {
    color: rgb(4, 23, 51);
}

.page-item>a {
    background-color: #74e2f840;
    color: #8f3f3fa8;
}

.page-item>a:hover {
    background-color: #deb887af;
    color: whitesmoke;
}

iframe {
    padding-bottom: 3%;
}

.page-link {
    font-weight: bold;
    border: none;
}

.page-item.active>span {
    background-color: burlywood;
    border-radius: 8px;
}