{% extends "base.html" %}

{% block title %}Journeys{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Journeys</h2>
            <hr>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Departure Station</th>
                            <th scope="col">Return Station</th>
                            <th scope="col">Covered distance (km)</th>
                            <th scope="col">Duration (min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for journey in journeylist %}
                        <tr>
                            {% for column in journey %}
                          <td>{{ column }}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
            </div>
            {{ pagination.links }}
        </div>
    </div>
</div>

{% endblock %}