{% extends "base.html" %}

{% block title %}Journeys{% endblock %}
{% block main %}

<div class="container">
    <form class="d-flex" role="search" style="width: 70%" action="/journeys/search" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search journeys" name="q">
        <button class="btn btn-outline-success" type="submit" style="width: 30%">Search</button>
    </form>
    <div class="row">
        <div class="col">
            <h1>Journeys</h1>
            <hr>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Departure Station</th>
                            <th scope="col">Return Station</th>
                            <th scope="col">Covered distance (km)</th>
                            <th scope="col">Duration (min)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for journey in journeylist %}
                        <tr>
                            {% for column in journey %}
                          <td>{{ column }}</td>
                          {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
            </div>
            {{ pagination.links }}
        </div>
    </div>
</div>

{% endblock %}