{% extends "base.html" %}

{% block title %}Stations{% endblock %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Stations</h2>
            <hr>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nimi</th>
                            <th scope="col">Namn</th>
                            <th scope="col">Osoite</th>
                            <th scope="col">Adress</th>
                            <th scope="col">Kaupunki</th>
                            <th scope="col">Kapasiteetti</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for station in stationlist %}
                        <tr>
                            {% for i in range(station | length) %}

                            {% if i == 0 %}
                            <th scope="row"><a href="/station/{{station[i]}}" }}>{{ station[i] }}</a></th>

                            {% else %}
                            <td>{{ station[i] }}</td>

                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
            </div>
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}